body
{
  color: white;
  background: #71f577c3;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#Result_Gesture_Name  
{
  color: black;
}
.Gesture_Name
{
  font-size: 40px;
}
.Gesture
{
  font-size:48px;
}
.heading
{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}
#Prediction
{
    border-radius: 7px;
    font-size: 18px;
}